* {
    box-sizing: border-box;
}

body {
    background-color: #d28004;
}

.App {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.button {
    display: inline-block;
    text-decoration: none;
}

button i.block, a.button i.block {
    display: block;
}

button:hover, .button:hover {
    cursor: pointer;
    transition: 0.15s;
    filter: brightness(110%);
}

button:active, .button:active {
    filter: brightness(90%);
    outline: none;
}

/*a:focus-visible button, button:focus-visible:not(:active){
    border-color: aqua !important;
}*/

.title {
    font-size: 80px;
    text-align: center;

    border-radius: 20px;
    border: 3px solid #444;
    padding: 5px 15px;

    box-shadow: 0 2px 12px 0 #5d5d5d94;
    background-color: #07a58e;
    color: #e8e8e8;
}

.text-input {
    border: 3px solid #444;
    border-radius: 30px;
    padding: 15px;
    box-shadow: none;

    transition: 0.1s;
    font-size: large;
}

.text-input:focus {
    outline: none;
    box-shadow: 0 0 12px 0 #e6e08e94;
    transition: 0.1s;
}

.circle-button {
    border: 3px solid #444;
    border-radius: 50%;
    padding: 15px;
    font-size: large;
}

.circle-overlay-button {
    position: absolute;
    margin-left: -54px;
    width: 54px;
}

.squircle-button {
    border: 3px solid #444;
    border-radius: 15px;
    padding: 10px;
    font-size: medium;
}

.squircle-button:focus {
    outline: none;
}

/* Colors */
.red {
    background-color: #e53935;
    color: #e8e8e8;
}

.green {
    background-color: #2cad02;
    color: #e8e8e8;
}

.blue {
    background-color: #077ce0;
    color: #e8e8e8;
}

.light-blue {
    background-color: #7cf3ff;
    /*color: #d8d8d8;*/
}

.purple {
    background-color: #9c27b0;
    color: #e8e8e8;
}

.white-text {
    color: #e8e8e8;
}