#room-wrapper {
    display: grid;
    grid-template-columns: min-content 3fr 1fr;
    grid-template-rows: auto 100px;
    grid-gap: 10px;
    color: #222;
    padding: 10px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #ffbc5a;
}

#nav-bar {
    display: grid;
    grid-template-rows: 40px 90px 40px;
    grid-template-columns: 40px;
    grid-gap: 10px;
}

#canvas {
    width: 100%;
    flex-grow: 1;
    border: 3px solid #444;
    background: #666;
    border-radius: 15px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    font-family: Roboto, sans-serif;
}

#chat {
    grid-column: 3;
    grid-row: 1 /span 2;
    flex-direction: column;
    overflow: auto;
}

#chat #member-list {
    grid-template-columns: auto;
    grid-gap: 5px;
    text-align: center;
    border-top-width: 2px;
}

#chat #member-list p {
    text-overflow: ellipsis;
    overflow: hidden;
}

@media only screen and (min-width: 1366px) {
    #chat #member-list {
        grid-template-columns: auto auto;
    }

    #chat-member-header {
        grid-column: 1 /span 2;
    }
}

@media only screen and (min-width: 1500px) {
    #chat #member-list {
        grid-template-columns: auto auto auto;
    }

    #chat-member-header {
        grid-column: 1 /span 3;
    }
}

#chat-member-header {
    border: 3px solid #444;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px;
}

#chat #message-field {
    height: 100%;
    max-height: none;
    min-height: 0;
}

#chat div #chat-input {
    margin-bottom: 0;
}

#controls {
    display: grid;
    align-items: center;
    width: 100%;
    padding: 10px;
    grid-gap: 10px;
    background: #fff;
    border-radius: 15px;
    border: 3px solid #444;
    grid-area: 2/2;
    margin-top: 6px;
}

#audio {
    /*display: flex;*/
    width: 100%;
    justify-content: space-around;
    /*align-items: center;*/
}

#play-button {
    width: 150px;
    font-weight: bolder;
    margin-left: calc(50% - 75px);
}

#play-button i {
    padding-left: 12px;
}

.button.disabled {
    color: rgb(109, 109, 109);
}

#fake-upload {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 35px;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    align-self: initial !important;
}

#mute:not(.recording):not(.muted) {
    background-color: yellow;
}

#mute.muted {
    background-color: pink;
}

#coordination {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px 0;
    justify-content: space-around;
}

#coordination div:nth-child(2n), #coordination div:last-child {
    border-right: none;
}

#coordination div:nth-child(5) div {
    max-width: 25vw;
}

@media only screen and (min-width: 1300px) {
    #coordination {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #coordination div:nth-child(2n) {
        border-right: 1px solid #aaa;
    }

    #coordination div:nth-child(3n), #coordination div:last-child {
        border-right: none;
    }
}

@media only screen and (min-width: 1900px) {
    #coordination {
        display: flex;
    }

    #coordination div:nth-child(3n) {
        border-right: 1px solid #aaa;
    }

    #coordination div:nth-child(5) div {
        max-width: 15vw;
    }
}

#coordination div {
    display: flex;
    gap: 5px;
    padding: 0 5px;
    border-right: 1px solid #aaa;
    vertical-align: middle;
    justify-content: center;
    flex-grow: 1;
}

#coordination div button {
    padding-top: 0;
    padding-bottom: 0;
}

#coordination div label {
    font-size: 18px;
    align-self: center;
}

#coordination div input:not([type='file']) {
    border-radius: 15px;
    border-style: solid;
    padding: 0 5px;
    text-align: center;
    font-size: 15px;
}

#tempo-input, #duration-input {
    width: 60px;
}

#signature-input, #signature-input-2 {
    width: 50px;
}

@media only screen and (min-width: 600px) {
    #room-wrapper {
        position: absolute;
        width: 100vw;
        height: 100vh;

        background-color: #ffbc5a;
    }
}

@media only screen and (min-width: 1200px) {
    #room-wrapper {
        box-shadow: 0 2px 5px 0 #5d5d5d94;
        border: 3px solid #444;
        border-radius: 10px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-width: 70vw;
        max-width: 80vw;
        height: 90vh;
        width: min-content;
        margin: 0;
    }
}

@media only screen and (min-width: 1800px) {
    #canvas {
        max-height: 900px;
    }
}

@media only screen and (min-width: 2400px) {
    #canvas {
        max-height: 1000px;
    }
}

@media only screen and (min-width: 2700px) {
    #canvas {
        max-height: 1100px;
    }
}