#greetingText {
    grid-column: 2 / span 2;
    margin-top: 10px;
}

#main.noRows {
    grid-template-rows: none;
}

#homeButton {
    background-color: #ff7930;
    color: #e8e8e8;
    padding: 9px;
}

#homeButton>i {
    /*padding-bottom: 15px;*/
}

#inviteText {
    grid-column: 2 / span 3;
}

#userList {
    grid-column: 2 /span 3;
    text-align: left;
    background: white;
    border: 3px solid #666;
    border-radius: 30px;
    padding: 10px 40px;
}

#copyField {
    grid-column: 2 / span 3;
    display: grid;
    grid-template-columns: auto 54px;
    grid-template-rows: 54px;
    padding-top: 12.6px;
    padding-bottom: 12.6px;
    justify-content: center;
    margin-bottom: 20px;
}

#userField {
    grid-column: 2 /span 3;
    justify-content: left;
    text-align: left;
}

#messageField {
    grid-column: 2 / span 3;
    grid-template-rows: 126px 54px;
    grid-template-columns: auto 54px;
    display: grid;
}

#chatSendButton {
    background-color: #077ce0;
    color: #e8e8e8;
    padding: 15px 15px;
    border-radius: 0px 0px 15px 0px;
    font-size: medium;
    font-weight: bolder;
    border: 3px solid #666;
    grid-row: 2;
    grid-column: 2;
}

#chatSendButton:hover {
    outline: none;
    cursor: pointer;
    transition: 0.15s;
    opacity: 0.8;
}

#chatInput {
    grid-row: 2;
    grid-column: 1 / span 2;
    padding-right: 69px;
    border-radius: 0px 0px 15px 15px;
    grid-column: 1 / span 2;
    grid-row: 2;
}

#chatBox {
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    grid-area: 1 / 1 / auto / span 2;
    border: 3px solid #666;
    border-bottom: 0px;
    padding: 10px;
}

.messageWrapper {
    display: grid;
    grid-auto-columns: min-content auto;
    margin-bottom: 10px;
}

.messageWrapper p
{
    text-align: left;
    margin: 0px;
}

p.chatName {
    font-weight: bold;
    margin-right: 10px;
}

p.chatMessage {
    grid-column: 2;
}

@media only screen and (max-width: 600px) {
    .App {
        position: relative;
        padding: 0;
        margin: 0;
        display: grid;
        /*grid-template-columns: 100%;*/
        /*grid-template-columns: 10px 1fr 10px;*/
        grid-template-columns: 1fr 350px 1fr;
        grid-template-rows: 20px 8fr 1fr;
        min-height: 100vh;
        color: #333;
    }

    #main {
        grid-column: 2 / span 1;
        grid-row: 2 / span 3;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10vh 25vh 10vh 1fr;

        margin: 0 5px;
    }

    #main > h1 {
        grid-column: 2 / span 2;
        grid-row: 1 / span 1;
        font-size: 60px;
        align-self: center;
        #color: #e8e8e8;
    }

    #homeButton {
        padding: 0;
    }

    #inviteText {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

}