#greetingText {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    margin-top: 10px;
}

#homeButton {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    background-color: #ff7930;
    color: #e8e8e8;
    padding: 9px 15px;
}

#homeButton>i {
    /*padding-bottom: 15px;*/
}

#inviteText {
    grid-column: 2 / span 3;
    grid-row: 6 / span 1;
}

#copyField {
    grid-column: 2 / span 3;
    grid-row: 8 / span 1;
}

@media only screen and (max-width: 600px) {
    .App {
        position: relative;
        padding: 0;
        margin: 0;
        display: grid;
        /*grid-template-columns: 100%;*/
        /*grid-template-columns: 10px 1fr 10px;*/
        grid-template-columns: 1fr 350px 1fr;
        grid-template-rows: 20px 8fr 1fr;
        min-height: 100vh;
        color: #333;
    }

    #main {
        grid-column: 2 / span 1;
        grid-row: 2 / span 3;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10vh 25vh 10vh 1fr;

        margin: 0 5px;
    }

    #main > h1 {
        grid-column: 2 / span 2;
        grid-row: 1 / span 1;
        font-size: 60px;
        align-self: center;
        #color: #e8e8e8;
    }

    #homeButton {
        padding: 0;
    }

    #inviteText {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }


}